body, html, .titleScreen, .boardContainer > div
{
    display: flex;
    justify-content: center;
    align-items: center;
}


body, html
{
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction:column;
    align-items:center
}

.boardContainer
{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    box-sizing: border-box;
    border: 2px solid black;

}

.boardContainer > div
{
    height: 100%;
    font-size: 30px;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 2px solid black;
    cursor: pointer;
}

.titleScreen
{
    cursor: pointer;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    font-size: 14vmin;

}
.shrinkUp
{
    animation-name: shrinkUp;
    animation-duration: 1s;
    
}

@keyframes shrinkUp {
    from
    {
        font-size: 14vmin;
        height:100vh;
    }
    to
    {
        height: 20vh;
        font-size: 9vmin;
    }
}

.subhead 
{
    font-size: 5vmin; 
    transition: visibility 0.2s, opacity 0.2s linear;
}
.fade-out
{
    visibility: hidden;
    opacity: 0;
}



.playerCreation
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:80vh;
    width: 100vw;
    transition: visibility 1s, opacity 1s linear;
}


.playerCreation .fields
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 65vh;
}

.playerCreation .enterButton 
{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select
{
    width:12vmax;
    height:6vmin;
    padding: 0;
    margin: 0;
    border: 0.3vmin grey solid;
    box-sizing: border-box;
    text-align: center;
    font-size: 2vmin; 
    
}
input:focus, select:focus {outline: none;}

button
{
    width:12vmax;
    box-sizing: border-box;
    height:7vmin;
    font-size: 2.5vmin;
}

#playerOneFields, #playerTwoFields {
  
    height:100%;
    width:30vw;
    background-color: aliceblue;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.4vmin black solid;
}

.playerIcon
{
    border: 0.5vmin black solid;
    border-radius: 50%;
    padding:2vmin;
    margin:4vmin;
}
.playerIcon img
{
    height:10vmin;
    box-sizing: border-box;
    width:auto;
}