//font Early GameBoy by Jimmy Campbell
@font-face {
    font-family: 'Early GameBoy';
    src: url('./fonts/Early-GameBoy.eot');
    src: url('./fonts/Early-GameBoy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Early-GameBoy.woff2') format('woff2'),
        url('./fonts/Early-GameBoy.woff') format('woff'),
        url('./fonts/Early-GameBoy.ttf') format('truetype'),
        url('./fonts/Early-GameBoy.svg#Early-GameBoy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// font Nu Hanafudaya by Sayuri
@font-face {
    font-family: 'Nu Hanafudaya';
    src: url('./fonts/NuHanafudaya-Regular.eot');
    src: url('./fonts/NuHanafudaya-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NuHanafudaya-Regular.woff2') format('woff2'),
        url('./fonts/NuHanafudaya-Regular.woff') format('woff'),
        url('./fonts/NuHanafudaya-Regular.ttf') format('truetype'),
        url('./fonts/NuHanafudaya-Regular.svg#NuHanafudaya-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//Animations
@keyframes float
{
    0% {transform: translate(0rem);}
    50% {transform: translatey(-1.5rem);}
    100% {transform: translate(0rem);}
}
@keyframes shrink 
{
    from{font-size: 10rem;}
    to{font-size:  7rem;}
}
@keyframes shrinkUp
{
    from {height:100vmin;}
    to{height:20vmin;}
}

//Colors
// $olivetone: rgba(125,129,14,1);
// $green-kelp: rgba(36,50,28,1);
// $chalet-green: rgba(72,96,50,1);
// $dingley: rgba(103,123,64,1);
// $crete: rgba(96,116,44,1);
// $fern-frond: rgba(96,106,30,1);
// $wasabi: rgba(148,148,37,1);
// $waiouru: rgba(60,60,14,1);
// $killarney: rgba(52,92,63,1);
// $west-coast: rgba(92,92,28,1);

$color-black: #24321C;
$color-dark-brown:#3C3C0E;
$color-darker-green:#345C3F;
$color-dark-green: #486032;
$color-darker-greenBrown:#5C5C1C;
$color-dark-greenBrown:#606A1E;
$color-light-greenBrown:#60742C;
$color-lighter-greenBrown:#677B40;
$color-dark-base:#7D810E;
$color-light-base:#949425;





html
{
    // to make font base 10
    font-size: 0.5vmax;
    font-family: Early Gameboy;


    body
    {
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        min-height: 100vmin;
        min-width: 100vmax;
        border-radius: 10%;
        box-sizing: border-box;
        overflow-x: hidden;

        .titleScreen
        {
            height: 100vmin;
            width: 100%;
            background-color: $color-light-base;
            color:$color-black;
            user-select: none;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            box-sizing: border-box;
            border: 10rem solid transparent;
            border-image-source: url("./border.png");
            border-image-slice: 40%;

            &.shrinkUp
            {
                animation-name: shrinkUp;
                animation-duration: 1s;
            }

            .head
            {
                font-size: 10em;
                color: rgb(37,38,34);

                &.shrink
                {
                    animation-name: shrink  ;
                    animation-duration: 1s;
                }
                
                .letter
                {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    color:$color-black;
                    text-shadow: 0.5rem 0.5rem 1.5rem $color-dark-brown;

                    &:nth-of-type(odd)
                    {
                        animation: float 4s ease-in-out infinite;
                    }
                    &:nth-of-type(even)
                    {
                        animation: float 2.5s ease-in-out infinite;
                    }
                }
            }
            .subhead
            {
                font-size: 3em;
                transition: opacity 0.5s;
                
                &.fade-out
                {
                    opacity: 0;
                }
            }
        }

        .gameContainer
        {
            height:80vmin;
            box-sizing: border-box;
            background-color: $color-light-base;
            display: flex;
            .playerFields
            {
                height:80%;
                width:100rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border: 10rem solid transparent;
                border-image-source: url("./border.png");
                border-image-slice: 45%;
                
                input, select
                {
                    font-size:2rem;
                    height:7vmin;
                    width:25rem;
                    background-color: $color-light-base;
                    box-sizing: border-box;
                    border: 2rem solid transparent;
                    border-image-source: url("./border.png");
                    border-image-slice: 30%;
                    &:focus{outline:none}
                }
                img
                {
                    height:15vmin;
                    animation: float 2s ease-in-out infinite;
                }
            }

            .gameButtons
            {
                display:flex;
                
                flex-direction: column;
                justify-content: space-evenly;
                border: 10rem solid transparent;
                border-image-source: url("./border.png");
                border-image-slice: 20%;
                button
                {
                    font-size:2rem;
                    height:7vmin;
                    width:25rem;
                    background-color: $color-light-base;
                    box-sizing: border-box;
                    border: 2rem solid transparent;
                    border-image-source: url("./border.png");
                    border-image-slice: 45%;
                    &:focus{outline:none}
                }
            }
        }

        .authorLink
        {
            text-decoration: none;
            color:inherit;
            position: fixed;
            bottom: 3.5rem;
            right: 2rem;
            font-size: 2rem;
            font-family: Nu Hanafudaya;
            transition: transform 0.2s ease-in-out, padding-bottom 0.2s ease-in-out, padding-right 0.2s ease-in-out;
            &:hover
            {
               transform:scale(1.1);
               padding-bottom:0.3rem;
               padding-right:1rem;
            }
        }
    }
}

